<!doctype html>
<html>
<head>
    <title>Latte Milk Boba Bar</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Carter+One&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css">
    <link rel="stylesheet" href="style.css">
    <link rel="stylesheet" href="indexpage.css">
</head>
<body>
<div class="container">

    <div class="text-center">
        <h1 class="mainTitle">The Latte Milk Boba Bar</h1>
        <img src="https://media.sketchfab.com/models/a2fb0ad507cd47de8e8cd7c15363b4f0/thumbnails/b98a5bc7c64b48e3a2ccd82637714be8/1b25dccd295342db9a41b0fd1a0a4323.jpeg" alt="milk from the legend of zelda">

        <p class="subtitle">Inspired by "Latte Milk Bar" in the Legend of Zelda: Majora's Mask</p>

        <a href="/login" class="btn btn-default"><span class="fa fa-user"></span>Login To Order</a>
        <a href="/signup" class="btn btn-default"><span class="fa fa-user"></span>Signup For Yummy Boba!</a>

    </div>

</div>
</body>
</html>
